@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.window {
    max-width: 1600px;
    margin: 0 auto;
}

.section_1 {
    height: 1067px;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    font-family: Poppins, sans-serif;
    background-color: #0F172A;
}

.image_div {
    width: 570px;
    height: 787px;
}

.image {
    width: 100%;
    height: 100%;
}

.section_1_div {
    width: 449px;
    height: 787px;
}

.section_1_h2 {
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    color: #ffffff;
    margin-bottom: 20px;
}

.section_1_p {
    width: 449px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #94A3B8;
    margin-bottom: 40px;
}

.google_sign_button {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: #1E293B;
    margin-bottom: 50px;
}

.sign_google_p {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff
}

.google_sign_button:hover {
    background-color: black;
    cursor: pointer;
}

.input,
label .section_1_button {
    display: block;
}

.input {
    margin-top: 8px;
    margin-bottom: 20px;
    Width: 100%;
    Height: 60px;
    border-radius: 35px;
    Border: 1px solid #334155;
    Padding: 17px 22px;
    background: transparent;
    color: #ffffff;
}

::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #94A3B8;
}

label {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #E4E4E7;
}

.remember {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

input[type=checkbox] {
    width: 19px;
    height: 19px;
    border: 1px solid #334155;
    border-radius: 20px;
}

input[type=checkbox],
label[for="remember"]:hover {
    cursor: pointer;
}

.section_1_button {
    width: 201px;
    height: 55px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    background-color: #2563EB;
    border: none;
}

.section_1_button:hover {
    cursor: pointer;
}

.create_acc_p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #64748B;
}

.create_acc_a {
    color: #2563EB;
}